.image {
  background-image: url(Queen\ elizabeth.jpg);
  background-position: center;
  color: aqua;
  height: 70vh;
  text-align: center;
}
body {
  background-color: blueviolet ;
  color: brown;
  font-size: 30px;
}
h1 {
  color: blanchedalmond;
}
.main-header {
  color: aqua;
}
.main-header {
text-align: center;
}
.main-header { 
  margin-top: 100px;
}
