.image {
  background-image: url(Queen\ elizabeth.jpg);
  background-position: center;
  height: 70vh;
  margin-left: 30vh;
  margin-right: 30vh;
  margin-bottom: 10vh;
  border: 20px solid black);
  border-radius: 20px;
}

.image1 {
  background-image: url(ye.jpg);
  background-position: center;
  height: 100vh;
  margin-left: 50vh;
  margin-right: 50vh;
  margin-bottom: 10vh;
  border-radius: 20px;
  border: 20px solid black;
}

.image2 {
  background-image: url(nba.jpg);
  background-position: center;
  height: 80vh;
  margin-left: 30vh;
  margin-right: 30vh;
  border: 20px solid black;
  border-radius: 20px;
  margin-bottom: 10vh;
}

body {
  background-color: beige;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-header {
  color: aqua;
  margin-top: 100px;
  text-align: center;
  background-color: blue;
  margin: 20vh ;
  padding: 25px 5px;
  border-radius: 30px;
  border: 20px solid rgb(10, 22, 190);
}

.cool {
  text-align: center;
  color: black;
  background-color: brown;
  margin: 20vh ;
  padding: 25px 5px;
  border-radius: 20px;
  border: 10px solid blue;
}

.link1 {
  text-align: center;
  font-size: larger;
}

.kanye {
  text-align: center;
  margin-top: 75px;
  color: blue; 
  background-color: aqua;
  margin: 20vh ;
  padding: 25px 5px;
  border-radius: 20px;
  border: 10px solid cadetblue;
}

.rip {
  text-align: center;
  color: aqua;
  font-size: larger;
  padding: 30px auto;
  background-color: rgb(30, 46, 190); 
  border-radius: 20px;
}